<!DOCTYPE html>
<html lang="{{ or .Site.Language.LanguageCode .Site.LanguageCode "en" }}" data-theme="dark" data-ground="{{ .Site.Params.ground | default "brown" }}">
<head>
{{ partial "head.html" . }}
</head>
<body>
<a class="sr-only" href="#main">{{ i18n "skipToContent" }}</a>
<div class="wrap {{ block "wrapclass" . }}{{ end }}">
  {{ partial "nav.html" . }}
  {{ block "main" . }}{{ end }}
  {{ partial "footer.html" . }}
</div>
{{ partial "search.html" . }}
{{ partial "scripts.html" . }}
</body>
</html>
